$height: 600px;
$width: 800px;
$color: green;
$padding: 10px;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

.test {
	height: $height;
	width: $width;
	background-color: skyblue;
	padding: $padding;
	@include border-radius(20px);
	p {
		color: $color;
	}
}